.page ul, .page ol { padding: 0 0 0 1.5em; }
.page li, .page dd { margin: 0 0 0 1.5em;  }
.notify { margin: 8px 0px !important; }
.dw__toc { padding: 12px; }
form.button { background-color: transparent; color: #3b3b3b;  }
button { padding: 3px; margin: 3px; }
.notify { border-radius: 0px !important; border-radius: 0px !important; }

#writtensidebar h1 {
	padding-bottom: 20px;
	font-size: 1.8em;
	color: #3D2729;

	letter-spacing: 1px;
}

.dokuwiki ul.idx {
	padding-left: 1.5em;
}

#dw__search button { display: none; }

#qsearch__in {
	width: 250px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 10px;
	border-radius: 8px;
	text-transform: lowercase;
	font-family: 'Open Sans',sans-serif;
	color: #454545;
}

.page h1 {
	min-height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0;
	font-size: 32px;

	color: #3D2729;
	letter-spacing: 1px;
}

#footer p, #footer .doc:not(:empty), #footer .license {
	margin: 0;
	padding-top: 24px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;

	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#mediamanager__page .file { width: 70%; clear: both; }



/* config manager */

/*#config__manager fieldset { clear: both; }*/
#config__manager table { min-width: 10%; width: 100%; }
/*fieldset { word-wrap: anywhere; }*/
#config__manager table { border-collapse: revert; border-spacing: 0px 1.85em; }
#config__manager tr { padding: 1em 0px; }
#config__manager td.label span.outkey { font-size: 1.15em !important; }
#config__manager fieldset td.value { width: 25%; }

/*select { display: none; }*/
/* defined in /lib/plugin/config.style.css */
#config__manager td input.edit {
    max-width: 14em;
}
#config__manager td .input {
    min-width: 50%;
    /*width: 90%;*/
    width: unset;
    /*width: max-content;*/
}
#config__manager td select.edit { }
#config__manager td textarea.edit {
    width: 100%;
    height: 4em;
}

/* ------ */