
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: __background__;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	/*color: #3B3B3B;*/
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	color: #F6B300;
}

h1 {
	font-size: 2em;
}

h2 {
	letter-spacing: 1px;
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #F6B300;
}

a:hover {
}

/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-transform: lowercase;
	font-size: 10em;
	font-family: 'Yesteryear', cursive;
	font-weight: 400;
	color: #323030;
}

#logo h1 span {
	color: #F6B300;
}

#logo p {
	margin-top: -2em;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2em;
	color: #3B3B3B;
}

#logo p a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #323030;
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 250px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 10px;
	border-radius: 8px;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	color: #454545;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
}

#menu {
	width: 1000px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
	background: #FDBD06;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #FDA408;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	line-height: 55px;
	padding: 0 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #3D2729;
}

#menu .current_page_item a {
}

/* Page */

#wrapper
{
	overflow: hidden;
	padding-bottom: 40px;
}

#page {
	overflow: hidden;
	width: __site_width__;
	margin: 0px auto;
}

/* Content */

#content {
	float: left;
	width: ~"calc(100% - "__sidebar_width__ ~" - 60px)";
	background: #FFFFFF;
}

.post {
	margin-bottom: 15px;
	padding: 30px 40px;
}

.post-alt
{
	background: #F0F0F0;
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 32px;
}

.post .title a {
	border: none;
	color: #3D2729;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

.button
{
	padding: 10px 25px;
	background: #E58703;
	border-radius: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebarelement {
	float: right;
	width:__sidebar_width__;
	margin: 0px;
	padding: 40px 30px 0px 30px;
	color: #787878;
	background: #F2CD36;
}

#sidebarelement p
{
	color: #3B3B3B;
}


#sidebarelement ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebarelement li {
	margin: 0;
	padding: 0;
}

#sidebarelement li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebarelement li li {
	border-bottom: 1px solid __border__;
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
}

#sidebarelement li li a {
	color: #3B3B3B;
}

#sidebarelement li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebarelement h2 {
	padding-bottom: 20px;
	font-size: 1.8em;
	color: #3D2729;
}

#sidebarelement p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebarelement a {
	border: none;
}

#sidebarelement a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	min-height: 150px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #B29D8C;
	border-top: 1px solid #A59282;
	font-family: 'Arvo', serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

#banner {
	width: 1000px;
	margin: 0px auto;
}

#banner img
{
	border-radius: 8px;
}